.root {
  background-color: #282b30;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: #ffffff;
  margin: auto;
  max-width: 768px;
  overflow: hidden;
}

.base {
  background-color: #282b30;
  display: grid;
  font-size: 20px;
  padding: 1rem;
  text-align: center;
}
