.root {
  display: grid;
}

.base {
  background-color: #282b30;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: #ffffff;
  display: grid;
  font-size: 20px;
  font-weight: 600;
  margin: 1rem auto 0;
  max-width: 768px;
  padding: 1rem;
  text-align: center;
  text-decoration: underline;
  width: 100%;
}
