.root {
  display: grid;
  position: relative;
}

.modal__base {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.modal {
  background-color: var(--foreground);
  color: var(--background);
  font-weight: 600;
  margin: auto;
  font-size: 18px;
  padding: 1rem;
  border-radius: 0.5rem;
  opacity: 0;
  animation: fade 2s ease-in-out infinite;
}

.base {
  display: grid;
  padding: 1rem;
  gap: 0.25rem;
}

.row {
  display: grid;
  place-items: center center;
  margin: auto;
  gap: 0.25rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.cell {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
  display: grid;
  place-items: center center;
  height: 4rem;
  width: 4rem;
  border: 2px solid var(--accent-2);
  color: var(--foreground);
  &__absent {
    @extend .cell;
    background-color: var(--background);
    animation: 1s flip ease-in;
  }
  &__correct {
    @extend .cell;
    background-color: var(--correct);
    animation: 1s flip ease-in;
  }
  &__present {
    @extend .cell;
    background-color: var(--present);
    animation: 1s flip ease-in;
  }
}

@keyframes flip {
  from {
    transform: rotateX(-360deg);
  }
  to {
    transform: rotateX(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
